.jobad-card {
  padding: 25px;
  max-height: 85vh;
}

.jobad-footer {
  display: flex;
  flex-direction: column;
}

.jobad-footer img {
  /* max-height: 10%; */
}

.jobad-footer a {
  margin-top: 10px;
  font-size: large;
}

.jobad-content {
  padding: 15px;
}

.jobad-text {
  font-size: 1rem;
  white-space: pre-line;
  overflow: auto;
  max-height: 50vh;
}

button {
  margin: 0 0.5rem;
}

button a {
  color: white;
}

.ad-header {
  background-color: #673ab7;
  padding: 1rem;
  color: white;
}

.employer-link {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-size: 1rem;
  text-decoration: none;
}
.employer-link:hover {
  color: #e0d5f4;
  text-decoration: underline;
}

.card-content {
  margin-bottom: 20px;
}
@media (min-width: 1000px) {
  .jobad-text {
    padding: 0 15%;
  }
}

.occupation-label {
  color: rgb(244, 195, 71);
}

.region-sub {
  color: rgb(217, 217, 217);
}

.action-buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.cancel-btns {
  display: flex;
  grid-column: 4;
  justify-content: right;
}
.close-btn {
  max-width: 100px;
}

.apply-btns {
  grid-column-start: 1;
  grid-column-end: 3;
}

.apply {
  background-color: rgb(140, 199, 2);
}
