<div class="search-grid">
  <mat-card class="card">
    <mat-card-title>Sök jobb</mat-card-title>
    <mat-card-subtitle>Sök för mer insikter</mat-card-subtitle>
    <mat-card-content>
      <form [formGroup]="searchForm" class="queries-form">
        <mat-form-field>
          <mat-label matNativeControl for="query">Sökord</mat-label>
          <input
            matNativeControl
            type="text"
            id="query"
            formControlName="query"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label for="occupation">Jobbtitel</mat-label>
          <mat-select id="occupation" formControlName="occupation">
            <mat-option value="">-</mat-option>
            <mat-option
              *ngFor="let occupation of occupations"
              [value]="occupation.concept_id"
              >{{ occupation.label }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <button mat-button color="primary" (click)="onSearch()">Sök</button>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-title>Insikter</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Plats">
          <canvas
            baseChart
            width="400px"
            height="200px"
            type="bar"
            [data]="locationData"
          ></canvas>
        </mat-tab>
        <mat-tab label="Jobbtitel"> Kommer snart... </mat-tab>
        <mat-tab label="Kompetenser">
          <canvas
            baseChart
            width="400px"
            height="200px"
            type="line"
            [data]="locationData"
          ></canvas>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
<div class="ad-grid">
  <mat-card
    *ngFor="let ad of jobads"
    (click)="openJobAdDialog(ad.id)"
    class="card ad-card"
  >
    <div class="card-top">
      <span class="deadline">{{
        ad.application_deadline.substring(0, 10)
      }}</span>
      <span *ngIf="ad.relevance > 0.8" class="rel rel-high"
        >Relevans: {{ (ad.relevance * 100).toFixed() }}%</span
      >
      <span *ngIf="ad.relevance < 0.8 && ad.relevance > 0.5" class="rel rel-mid"
        >Relevans: {{ (ad.relevance * 100).toFixed() }}%</span
      >
      <span *ngIf="ad.relevance < 0.5" class="rel rel-low"
        >Relevans: {{ (ad.relevance * 100).toFixed() }}%</span
      >
    </div>

    <mat-card-header>
      <mat-card-title>{{ ad.headline }}</mat-card-title>
      <mat-card-subtitle>{{ ad.employer.workplace }}</mat-card-subtitle>
      <mat-card-subtitle>{{ ad.workplace_address.region }}</mat-card-subtitle>
      <mat-card-subtitle>{{ ad.occupation.label }}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
